{{room | json}}
<div *ngIf="roomSuccess" class=" bg-green-400 text-green-700 p-4">
<p>Room Added Successfully</p>
</div>
<form #roomsForm="ngForm"  (ngSubmit)="addRoom(roomsForm)" class=" flex flex-col items-center  justify-center m-4">
  <div class="">
    <input
     required
      class="p-3 bg-gray-100"
      type="number"
      name="roomNumber"
      [(ngModel)] ="room.roomNumber"
      placeholder="roomNumber"
    />
  </div>

  <div class="">
    <input
     required
      class="p-3 bg-gray-100"
      type="text"
      name="amenities"
      [(ngModel)] ="room.amenities"

      placeholder="amenities"
    />
  </div>
  
  <div class="">
    <input
     required
      class="p-3 bg-gray-100"
      type="text"
      name="roomType"
      [(ngModel)] ="room.roomType"

      placeholder="roomtype"
    />
  </div>
  <div class="">
    <input
     required
      class="p-3 bg-gray-100"
      type="text"
      name="price"
      [(ngModel)] ="room.price"

      placeholder="price"
    />
  </div>
  <div class="">
    <input
     required
      class="p-3 bg-gray-100"
      type="text"
      name="photos"
      [(ngModel)] ="room.photos"

      placeholder="photos"
    />
  </div>
  <div class="">
    <input
     required
      class="p-3 bg-gray-100"
      type="text"
      [(ngModel)] ="room.checkinTime"

      name="checkinTime"
      placeholder="checkinTime"
    />
  </div>
  <div class="">
    <input
     required
      class="p-3 bg-gray-100"
      type="text"
      name="checkoutTime"
      [(ngModel)] ="room.checkoutTime"

      placeholder="checkoutTime"
    />
  </div>
  <div class="">
    <input
     required
      class="p-3 bg-gray-100"
      type="number"
      name="rating"
      [(ngModel)] ="room.rating"

      placeholder="rating"
    />
  </div>
  <div class="  "><button [disabled]="roomsForm.invalid" type="submit" class=" bg-black text-white p-3 rounded-lg">Submit</button></div>
</form>

<router-outlet></router-outlet>
