
<app-header></app-header>

<p>{{ hotelName }}</p>

<p>Here are tde list of rooms</p>
<button (click)="toggleBookedRooms()" class="bg-black text-white p-3  "> TOGGLE</button>

<div *ngIf="showRooms">
<!-- ROOMS-LIST TABLE COMES HERE -->
 <app-rooms-list [rooms]="roomList" (selectedRoom)="getSelectedRoom($event)"></app-rooms-list>
<div *ngIf="selectedRoom">
    {{selectedRoom.amenities}}
</div>

</div>

<button (click) ="addData()" class=" bg-black text-white p-4">Add Data</button>
<button (click) ="updateData()" class=" bg-black text-white p-4">Update Data</button>
<button (click) ="updateData()" class=" bg-black text-white p-4">Delete Data</button>
